Jelmer Vernooĳ <jelmer@jelmer.uk>	Jelmer Vernooij <jelmer@jelmer.uk>
Jelmer Vernooĳ <jelmer@jelmer.uk>	Jelmer Vernooij <jelmer@samba.org>
Benoit HERVIER <khertan@khertan.net>	Benoît HERVIER <khertan@khertan.net>
John Carr <john.carr@unrouted.co.uk>	Jc2k <john.carr@unrouted.co.uk>
Dave Borowitz <dborowitz@google.com>	David Borowitz <dborowitz@google.com>
Dave Borowitz <dborowitz@google.com>	Dave Borowitz <ddborowitz@gmail.com>
Marcin Kuzminski <marcin@python-works.com>	Marcin Kuźmiński <marcin@python-blog.com>
Ryan Faulkner <rfaulk@yahoo-inc.com>	rfaulk <rfaulkner@wikimedia.org>
Martin Packman <gzlist@googlemail.com>	Martin Packman <martin.packman@canonical.com>
Martin Packman <gzlist@googlemail.com>	Martin <gzlist@googlemail.com>
