include NEWS
include AUTHORS
include README.md
include README.swift.md
include Makefile
include COPYING
include CONTRIBUTING.md
include TODO
include setup.cfg
include dulwich/stdint.h
recursive-include docs conf.py *.txt Makefile make.bat
recursive-include examples *.py
graft dulwich/tests/data
include tox.ini
include dulwich.cfg
include appveyor.yml
include .testr.conf
include .travis.yml
