include NEWS
include AUTHORS
include README.rst
include README.swift.rst
include Makefile
include COPYING
include CONTRIBUTING.rst
include TODO
include setup.cfg
include dulwich/stdint.h
include dulwich/py.typed
recursive-include docs conf.py *.txt Makefile make.bat
recursive-include examples *.py
graft dulwich/tests/data
include tox.ini
include dulwich.cfg
include appveyor.yml
include .testr.conf
include .travis.yml
