name: Python tests

on:
  push:
  pull_request:
  schedule:
    - cron: "0 6 * * *" # Daily 6AM UTC build

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version:
          ["3.7", "3.8", "3.9", "3.10", "3.11"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install native dependencies (Ubuntu)
        run: sudo apt-get update && sudo apt-get install -y libgpgme-dev libgpg-error-dev
        if: "matrix.os == 'ubuntu-latest'"
      - name: Install native dependencies (MacOS)
        run: brew install swig gpgme
        if: "matrix.os == 'macos-latest'"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade ".[fastimport,paramiko,https]"
      - name: Install gpg on supported platforms
        run: pip install --upgrade ".[pgp]"
        if: "matrix.os != 'windows-latest' && matrix.python-version != 'pypy3'"
      - name: Style checks
        run: |
          pip install --upgrade ruff
          python -m ruff check .
      - name: Typing checks
        run: |
          pip install --upgrade mypy types-paramiko types-requests
          python -m mypy dulwich
        if: "matrix.python-version != 'pypy3'"
      - name: Build
        run: |
          python setup.py build_ext -i
      - name: codespell
        run: |
          pip install --upgrade codespell
          codespell --config .codespellrc .
      - name: Coverage test suite run
        run: |
          pip install --upgrade coverage
          python -m coverage run -p -m unittest dulwich.tests.test_suite
